.button {
  background-color: $coral;
  border-radius: 3px;
  color: $white;
  font-family: $fontExo;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 100;
  border: none;
  letter-spacing: 0.3rem;
}
