.block_6 {
  background-color: $indigo;
  display: grid;
  grid-template-rows: minmax(46.7rem, auto);
  &__ {
    &container {
    }
    &wrapper {
      width: 100vw;
    }
    &subtitle {
      margin: 9.25rem auto 0.2rem;
    }
    &headline {
      color: $white;
      margin: 0.2rem auto 3.3rem;
    }
    &text {
      color: $grayBackground;
      opacity: 0.6;
      font-weight: 400;
      margin: 4.5rem auto;
    }
  }
  &-text__container {
    margin: 0 2rem 2rem;
  }
}
.comment {
  grid-column: 4;
  display: flex;
  align-items: flex-start;
  margin: 0 0 1.7rem 0.5rem;
  &__ {
    &container {
      .picture {
      }
    }
    &text {
      margin: 0 0 0 -22px;
      opacity: 1;
    }
  }
}
$itemHeight: 3.403vmax;
.form,
.comment__container {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 26.3rem));
  grid-gap: 3rem;
  justify-content: center;
}
.form {
  .form {
    &__ {
      &email,
      &text,
      &password {
        width: 100%;
        height: $itemHeight;
        border-radius: 3px;
        padding: 1.8rem 0 1.8rem 2.9rem;
        border: 0.1rem solid rgba($white, 0.5);
        background-color: $lightindigo;
        color: $grayBackground;
        font-size: 1.2vmax;
        &::placeholder {
          color: $grayBackground;
          font-family: $fontExo;
          font-size: 1vmax;
          font-weight: 400;
          line-height: 75px;
          text-transform: uppercase;
          letter-spacing: 0.064rem;
        }
        &:focus {
          outline: none;
          border: 0.1rem solid $white;
        }
      }

      &submit {
        margin-left: 0.4rem;
        width: 18vmax;
        height: 3.4725vmax;
        box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
        border: 1px solid $coral;
      }
    }
  }
}
@media (max-width: 90rem) {
  .form {
    .form__email,
    .form__text,
    .form__password {
      height: 4.9rem;
      font-size: 1.6rem;
      &::placeholder {
        font-size: 1.6rem;
      }
    }
    .form__submit {
      width: 25.8rem;
      height: 5rem;
    }
  }
}
@media (max-width: 64rem) {
  .form {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, minmax(min-content, 26.3rem));
  }
  .comment__container {
    grid-template-columns: repeat(2, minmax(min-content, 26.3rem));
  }
  .block_6 {
    grid-template-rows: max-content;
  }
}
@media (max-width: 36rem) {
  .form {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: minmax(min-content, 26.3rem);
  }
  .comment__container {
    grid-template-columns: minmax(min-content, 26.3rem);
  }
}
