.block_3 {
  position: relative;
  background-color: transparent;
  display: grid;
  flex-wrap: wrap;
  grid-template-rows: minmax(55rem, auto);
  grid-template-columns: repeat(2, minmax(38.4rem, 50vw));
  &__ {
    &background {
      display: grid;
      grid-template-rows: minmax(55rem, auto);
      grid-template-columns: repeat(2, minmax(38.4rem, 50vw));
      .block_3-text__container {
        grid-column: 2;
      }
      .block_3__subtitle,
      .block_3__text,
      .block_3__headline {
        color: $white;
      }
      .headline--pink {
        color: $black;
      }
      position: absolute;
      z-index: 2;
      min-height: 55rem;
      width: 100%;
      background-color: $coral;
      clip-path: polygon(0 0, 11% 0, 84% 100%, 0% 100%);
    }
    &headline {
      // margin: 1.2rem auto 2.9rem;
      margin: 1.2rem auto 2.013vw;
      line-height: 3.62vmax;
    }
    &text {
      margin: 2.9rem auto 0;
      padding-bottom: 13.8rem;
      //margin: 2.013vw auto 0;
    }
    &subtitle {
      margin: 13.8rem auto 1.2rem;
      //margin: 9.583vw auto 1.2rem;
    }
  }
  &- {
    &text__container {
      max-width: 495px;
      min-width: 40vw;
      margin-left: 1.8rem;
      margin-right: 2rem;
      grid-column: 2;
      z-index: 1;
    }
    &picture__container {
      grid-column: 1;
      grid-row: 1;
      z-index: 3;
      text-align: right;
      .picture {
        margin: 93px 35px 0 0;
        //margin: 6.4583vw 2.43vw 0 0;
        max-width: 50vw;
      }
    }
  }
}
@media (max-width: 90rem) {
  .block_3 {
    &-picture__container .picture {
      margin: 6.4583vw 2.43vw 0 0;
    }
    &__ {
      &headline{
        line-height: 5.2rem;
      }
      &subtitle {
        margin: 9.583vw auto 1.2rem;
      }
      &text {
        margin: 2.013vw auto 0;
      }
    }
  }
}
@media (max-width: 48rem) {
  .block_3 {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    &__background {
      .block_3-text__container {
        display: block;
      }
      height: 100%;
      z-index: 2;
      display: flex;
      align-items: flex-end;
    }
    &-text__container {
      grid-row: 2;
      grid-column: 1;
      margin: 0 auto;
      padding: 0 1rem 9.583vw;
    }

    &-picture__container {
      text-align: center;
      .picture {
        margin: 9.583vw auto 0;
        max-width: calc(100% - 2rem);
      }
    }
  }
}
