
@font-face {
  font-family: "Exo - Thin";
  font-weight: 100;
  src: url(../fonts/Exo/Exo-Thin.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo/Exo-Regular.ttf);
  font-display: swap;
}

$fontExoThin: 'Exo - Thin', sans-serif;
$fontExo: 'Exo', sans-serif;

$black: #000;
$white: #fff;
$coral: #ff6d6d;
$indigo: #323969;
$lightgray: #ededed;
$lightindigo: #464c77;

$grayHeadlineText: #282828;

$grayBackground: #f6f5f3;

